<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322994072032-3m9ilmuei94olos212e4rlbmqngg33ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322994072032-3m9ilmuei94olos212e4rlbmqngg33ls</string>
	<key>API_KEY</key>
	<string>AIzaSyBDuUSz_rYSZKBencYTyJdgw-BupaFOCDo</string>
	<key>GCM_SENDER_ID</key>
	<string>322994072032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jake.ExChat</string>
	<key>PROJECT_ID</key>
	<string>exchat-b8fd9</string>
	<key>STORAGE_BUCKET</key>
	<string>exchat-b8fd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322994072032:ios:14fe4045859c2a4345a385</string>
</dict>
</plist>